body{
margin:0;
padding:0;
background-color:#161616;
color:white;}
.navbar{
position:fixed;
width : 100%;
}
.brand{
color:white;
}
nav{
display : flex;
align-items : center;
justify-content : space-between;
padding:0 10%;
font-size : 1.5rem;
background-color:#161616;
}
ul{
list-style:none;
}
li{
display:inline;



padding: 0 25px;
}
li a{
text-decoration:none;
color: #54dcf2;
}
.container{
padding :15vh 10vw 5vh 10vw;
display : flex;
align-items:center;
justify-content:center;
height : 80vh}
.image-container{
width : 30%;
text-align : center;}

.designation{
width : 70%;
text-align : center;

}
h4{
color: yellow;
font-size:1.5rem;}
h1,h2,h3{margin:0;}
h1{
font-size  : 3.5rem;}
h2{
font-size  : 2.5rem;
opacity:75%}
h3{
font-size  : 2rem;
opacity:50%}
.me{
width : 250px;
height : 250px;
object-fit:cover;
border-radius : 50%;
border : 5px solid yellow;
}
.container2{
display : grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:250px;
padding :15vh 10vw 5vh 10vw;
grid-gap:30px;
}
.edu,.skills,.about{
padding : 2rem;
background-color:#232d2f;
}

.about{
grid-column:2/4;
grid-row:1/3;
}
.skills{
grid-column:1/2;
grid-row:2/3;
}
.edu{
grid-column:1/2;
grid-row:1/2;
}
.head{
font-size:2rem;
color:#54dcf2;
}
.sub-head{
font-size : 1.25rem;
font-weight : 200px;
color:white;
opacity:100%;
}
.button:focus{
border:none;
background-color:#54dcf2;
outline:none;
}
.button{
background-color:grey}
.container3{
display:flex;
justify-content:center;
}
.contact-form{
background-color:#232d2f;
border-radius:18px;
padding :2em;
flex-direction:column;
text-align:center;
justify-content:center;
width : 350px;
}
.form-txt h2{
margin:1rem 0;
padding:0;
font-size:18pt;
font-weight:500;}

.form-input{
border-radius:10px;
border:none;
background-color:#161616;
color:white;
text-align :left;
width:90%;
padding : 1em;
margin-bottom : 1em;}
.btn{
background-color:grey;
font-size:20px;
width : 50%;
text-align:center;
}

